In [2]:
# import pymongo

# import pymongo
from pymongo import MongoClient

In [4]:
# localhost 설정

# client = MongoClient('localhost', 27017)
client = MongoClient('mongodb://localhost:27017')

In [6]:
# 데이터베이스 연결

# db = client.test_database
db = client['test_database']

In [7]:
# collection 생성

collection  = db['test_collection']

#### insert_one: 한 건 입력

In [8]:
data_dic = {'name':'홍길동', 'age':17}

In [9]:
re_data_dic = collection.insert_one(data_dic)

In [10]:
print(re_data_dic)
re_data_dic.inserted_id

<pymongo.results.InsertOneResult object at 0x0000020BE3EC4140>

ObjectId('6168ea9832631379fe2f1e5a')

In [11]:
data_dic2 = {'name':'김길동', 'age':15}

In [12]:
re_data_dic2 = collection.insert_one(data_dic2)

#### insert_many - 여러 건 insert

In [13]:
data_list = [
    {'name':'이길동','age':25},
    {'name':'박길동','age':31},
    {'name':'정길동','age':35}
]

In [14]:
re_3 = collection.insert_many(data_list)

In [15]:
re_3.inserted_ids

[ObjectId('6168ed9f32631379fe2f1e5c'),
 ObjectId('6168ed9f32631379fe2f1e5d'),
 ObjectId('6168ed9f32631379fe2f1e5e')]

#### find_one, find

In [16]:
sr1 = collection.find_one()
sr1

{'_id': ObjectId('6168ea9832631379fe2f1e5a'), 'name': '홍길동', 'age': 17}

In [17]:
sr2 = collection.find()
sr2

In [18]:
for sr2_item in sr2:
    print(sr2_item)

{'_id': ObjectId('6168ea9832631379fe2f1e5a'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('6168ec5d32631379fe2f1e5b'), 'name': '김길동', 'age': 15}
{'_id': ObjectId('6168ed9f32631379fe2f1e5c'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6168ed9f32631379fe2f1e5d'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6168ed9f32631379fe2f1e5e'), 'name': '정길동', 'age': 35}

#### 조건

In [19]:
# where name= '홍길동'
srs = collection.find({'name':'홍길동'})
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ea9832631379fe2f1e5a'), 'name': '홍길동', 'age': 17}

In [20]:
# where name = '홍길동' and age = 17
srs = collection.find({'name':'홍길동', 'age':17})
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ea9832631379fe2f1e5a'), 'name': '홍길동', 'age': 17}

In [23]:
# where age >= 17
srs = collection.find({'age':{'$gte':17}})
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ea9832631379fe2f1e5a'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('6168ed9f32631379fe2f1e5c'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6168ed9f32631379fe2f1e5d'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6168ed9f32631379fe2f1e5e'), 'name': '정길동', 'age': 35}

In [24]:
# where age > 17
srs = collection.find({'age':{'$gt':17}})
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ed9f32631379fe2f1e5c'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6168ed9f32631379fe2f1e5d'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6168ed9f32631379fe2f1e5e'), 'name': '정길동', 'age': 35}

In [25]:
# where age > 17 
srs = collection.find({'age':{'$gt':17}},{'name':1, '_id':0})
for sr in srs:
    print(sr)

{'name': '이길동'}
{'name': '박길동'}
{'name': '정길동'}

#### update_one, update_many

In [26]:
collection.update_one({'name':'홍길동'},{'$set':{'age':18}})

In [27]:
srs = collection.find({'name':'홍길동'})
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ea9832631379fe2f1e5a'), 'name': '홍길동', 'age': 18}

In [28]:
# 나이가 30보다 많은 사람의 나이를 31로 update하기

# 결과 출력 실패
collection.update_many({'age':{'$gt':{'age':30}}}, {'$set':{'age':31}})

In [29]:
srs = collection.find({'age':{'$gt':{'age':30}}})
for sr in srs:
    print(sr)

In [30]:
# 나이가 30보다 많은 사람의 나이를 31로 update하기
collection.update_many({'age':{'$gt':30}}, {'$set':{'age':31}})

In [31]:
srs = collection.find({'age':{'$gt':30}})
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ed9f32631379fe2f1e5d'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6168ed9f32631379fe2f1e5e'), 'name': '정길동', 'age': 31}

#### delete, delete_many

In [32]:
collection.delete_one({'name':'홍길동'})

In [33]:
srs = collection.find()
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ec5d32631379fe2f1e5b'), 'name': '김길동', 'age': 15}
{'_id': ObjectId('6168ed9f32631379fe2f1e5c'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6168ed9f32631379fe2f1e5d'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6168ed9f32631379fe2f1e5e'), 'name': '정길동', 'age': 31}

In [34]:
collection.delete_many({'age':{'$gte':31}})

In [35]:
srs = collection.find()
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ec5d32631379fe2f1e5b'), 'name': '김길동', 'age': 15}
{'_id': ObjectId('6168ed9f32631379fe2f1e5c'), 'name': '이길동', 'age': 25}